@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");

.App {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  height:100%;
}

/* html{
  margin: 0;
  padding: 0;
  
} */
body {
  /* width: fit-content; */
  margin: 0;
  /* padding: 0; */
}
/* ===========TOPBAR============= */
.top-bar-container {
  color: white;
  background-image: linear-gradient(rgb(64, 23, 129), 85%, rgba(11, 13, 16, 1));
  box-shadow: 0px 5px 10px black;
}
.budgetpad-text {
  padding: 20px 10px 0px 10px;
  font-size: 4rem;
  margin: 0;
}
/* ======================= */
/* =========NAVBAR======================== */
.nav-bar {
  background-color: rgb(64, 23, 129);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  height: 60px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav-bar-text ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar-text li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
  justify-content: center;
  align-items: baseline;
  padding: 1rem;
  display: block;
}

.nav-bar-text li:hover {
  color: green;
  transition: color 0.5s;
}

.flex-container li:visited {
  color: green;
}
/* ======================================== */
/* ===========Add Income Component========= */
.add-button {
}
.add-transaction-container {
  position: fixed;
  bottom: 8%;
  left: 5%;
  width: 90%;
  margin: 0 auto;
  color: white;
  box-shadow: 0px 10px 30px black;
  border-radius: 10px;
}
.add-transaction-container h2 {
  margin-top: 0;
}
.add-income-component {
  border: 3px solid black;
  border-radius: 10px;
  padding-bottom: 1rem;
  background-image: radial-gradient(
    farthest-corner at 0px 0px,
    rgba(64, 23, 129, 1),
    80%,
    rgb(34, 34, 34)
  );
  /* box-shadow: 0px 10px 30px black; */
}
.add-income-fields {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.add-income-field {
  border: none;
  border-radius: 5px;
  align-self: flex-center;
  margin-top: 0.5rem;
  color: white;
  background: transparent;
  font-size: 22px;
  box-shadow: 0px 2px 10px white;
}
.add-income-category-field{
  display: flex;
  align-items: baseline;
  
}
.add-income-category-field input{
}
.drop-container{
  position: relative;
  margin-left: .5rem;
  
}
.drop-list-container{
  position: absolute;
  left: -15rem;
  bottom: 30px;
  width: 15rem;
  height: fit-content;
  text-align: left;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(218, 189, 252);
  color: black;
  border: 1px solid black;
}
.drop-list{
  display: flex;
  justify-content: space-between;
margin: .25rem 0;
}
.drop-list-item{
  width: 10%;
  height: 1.2rem;
  font-size: 24px;
  align-self: flex-end;
}
.drop-list-item-label{
  font-size: 1.3rem;
}
.add-income-routine,
.add-income-expense {
  margin: 0.5rem 0;
  font-size: 18px;
}
.add-income-routine div,
.add-income-expense div {
  display: inline;
  align-content: center;
}
.add-income-routine input,
.add-income-expense input {
  width: 10%;
  
}
.add-income-routine label,
.add-income-expense label {
  width: 50%;
}
.add-income-add-button {
  width: 30%;
  position: relative;
  left: 30%;
  margin: 0.5rem;
  padding: 4px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(64, 23, 129);
  box-shadow: 0px 2px 10px white;
}
.add-income-add-button:hover,
.close-button:hover{
  background-color: white;
  color: black;
}
.close-button {
  border-radius: 10px;
  border: none;
  position: relative;
  left: 43%;
  margin: 0.5rem;
  color: white;
  background-color: rgb(64, 23, 129);
  box-shadow: 0px 2px 10px white;
}
/* ============================================== */
.team-component {
}

.team-header {
  text-align: left;
  padding: 5px 0 0 15px;
}

.name-header1,
.name-header2,
.name-header3 {
  color: white;
  text-align: left;
  padding-left: 100px;
  padding-top: 15px;
}

.paragraph-team1,
.paragraph-team2,
.paragraph-team3 {
  color: white;
  text-align: center;
  padding: 25px;
  transition: fadeIn ease 1s;
}

.background-budgtpad {
  position: relative;
  width: 100%;
  height: 100%;
}

.budgetpad-landing {
  background: url("./Images/strategy.jpg");
  background-size: contain;
  background-position: center;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100vh;
  color: white;
}
.budgetpad-landing p {
  margin-top: 0;
}

.team-component {
  background: url("./Images/strategy.jpg");
  background-size: contain;
  background-position: center;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100vh;
}

.team-component h1 {
  color: white;
  padding-left: 30px;
}

.team-member-card1,
.team-member-card2,
.team-member-card3 {
  background-color: rgb(64, 23, 129);
  /* width: 100%; */
  margin: 15px;
  transition: all 0.2s ease-in-out;
}

.team-member-card1:hover {
  background-image: url("./Images/cat1.jpg");
  box-shadow: inset 0 0 0 300px rgba(5, 11, 17, 0.521);
}

.team-member-card2:hover {
  background-image: url("./Images/cat2.jpg");
  box-shadow: inset 0 0 0 300px rgba(5, 11, 17, 0.521);
}

.team-member-card3:hover {
  background-image: url("./Images/cat3.jpg");
  background-size: contain;
  box-shadow: inset 0 0 0 300px rgba(5, 11, 17, 0.521);
}

.login-buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: auto;
}

.login-button {
  width: 25%;
  background-color: rgb(64, 23, 129);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.new-account-button {
  width: 25%;
  margin-bottom: 15px;
  background-color: rgb(64, 23, 129);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.existing-user-login {
  width: 25%;
  margin-bottom: 15px;
  background-color: rgb(64, 23, 129);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.register-button {
  width: 25%;
  margin-bottom: 15px;
  background-color: rgb(64, 23, 129);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.budgetpad-landing p {
  font-size: 1.5rem;
  padding: 50px 25px 15px 25px;
  margin-bottom: 40px;
}

/* =============User Profile Component MOBILE =========== */
.user-info-container{
/* width: 100%; */
}

.user-info-header {
  position: relative;
  text-align: left;
  padding-left: 5%;
  background: url("./Images/strategy.jpg");
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  
}
.user-info-header h2,
.user-info-header p {
  margin: 0;
  padding: 0.5rem;
}

.user-info-fields {
  text-align: right;
  padding-right: 5%;
  border-radius: 5px;
  padding-top: 4%;
  padding-bottom: 5%;
}
.user-info-budget-form {
  margin-top: 0.75rem;
}
.user-info-cred-form input,
.user-info-budget-form input {
  font-size: 16px;
  border: none;
  border-radius: 3px;
  /* border-bottom: solid; */
  margin: 0.35rem;
  box-shadow: 0px 3px 5px rgb(64, 23, 129);
}
hr {
  border: 2px solid rgb(64, 23, 129);
  margin: 0;
  margin-bottom: 1%;
  box-shadow: 5px 10px 18px black;
}
.user-info-icon {
  position: absolute;
  /* left: 15rem;
  bottom: 26.5rem; */
  left: 63%;
  bottom: 13%;
}
.user-info-cred-form button,
.user-info-budget-form button {
  background-color: rgb(64, 23, 129);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.2rem;
  font-family: "Red Hat Display", sans-serif;
  box-shadow: 2px 5px 5px black;
  margin-left: 0.25rem;
}
.user-info-cred-form button:hover,
.user-info-budget-form button:hover{
  background-color: white;
  color:black;
}
.user-info-logout-button {
  border-radius: 5px;
  margin: 1px;
}
.user-info-logout-button:hover{
  background-color: rgb(64, 23, 129);
  color: white;
}

/* ============================================== */

/* ***************************************************
*  -------- ANNY CSS STYLES  MOBILE --------
*************************************************** */

.dounut {
  width: 100%;
  
}

.landing-component,
.spend-summary,
.transaction-component {
  margin-bottom: 20%;
  font-family: "Nunito Sans", sans-serif;
}

.spend-summary {
  color: white;
  background-color: rgb(64, 23, 129);
  padding: 2%;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px black;
}
.spend-summary h3 {
  margin-top: 0px;
  font-size: 1.2em;
}
.spend-summary h2 {
  margin-bottom: 3px;
  font-size: 1.8em;
}
.spend-summary div {
  display: flex;
  justify-content: space-evenly;
}
.spend-summary section {
  width: 45%;
}
.spendSum-total {
  color: #ff4545;
}
.spendSum-remain {
  color: #fff33e;
}
.spendSum-deposite {
  color: #5dca00;
  
}
.legend {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  padding: 2%;
}

.legendLabel {
  display: flex;
  align-items: center;
  margin: 2%;
  width: 45%;
}
.legendLabel p {
  margin-left: 3%;
  font-size: 1rem;
}
.labelIcon {
  border: 1px solid;
  width: 15%;
  height: 20px;
  box-shadow: 0px 4px 5px black;
}

.transaction-component {
  text-align: left;
}
.transact-headline {
  margin: 0 auto;
  font-size: 1.2em;
  padding: 3%;
  line-height: 0;
}
.all-transactions {
  padding: 0.5% 3%;
}
.transact-card {
  background-color: #002161;
  margin: 2%;
  color: white;
  display: flex;
  font-size: 0.9em;
  justify-content: space-evenly;
  align-items: center;
  line-height: 0.5;
  border-radius: 5px;
  box-shadow: 0px 5px 6px black;
}
.transact-descr {
  font-size: 1.3em;
}
.transact-card span {
  font-size: 1.3em;
  font-weight: 600;
  color: #ffb0b0;
}
.trnact-light-font {
  color: #aecbd6;
}
/* ===============DESKTOP DESIGN================= */
.desktop-nav-bar {
  display: none;
}

.our-team-header {
  display: none;
}
.paragraph-team1-after,
.paragraph-team2-after,
.paragraph-team3-after {
  color: white;
}
.paragraph-team1,
.paragraph-team2,
.paragraph-team3 {
  color: white;
  display: none;
}
/* ============================================ */

/* ***************************************************
*  -------- MEDIA QUERIES  ---------
*************************************************** */
@media (max-width: 320px) {
  .App{
    width: fit-content;
  }
}
@media (min-width: 668px) {
  /* ------------------------------------
*  ----ANNY CSS STYLES  TABLET  ----
------------------------------------ */
  .landing-component {
    margin-bottom: 10%;
  }
  .chart {
    max-width: 668px;
    display: flex;
    padding: 2%;
    margin: 30px auto 10px auto;
  }
  .dounut {
    width: 65%;
  }
  .legend {
    width: 35%;
    margin-left: 2%;
  }

  .legendLabel {
    margin: 0px;
    width: 100%;
  }
  .legendLabel p {
    font-size: 1.2rem;
  }
  .transact-headline {
    max-width: 768px;
  }
  .transact-card {
    font-size: 1.2em;
    justify-content: space-between;
    padding: 0 10%;
  }
}

@media (min-width: 1028px) {
  .nav-bar {
    display: none;
  }

  .desktop-nav-bar {
    background-color: rgb(64, 23, 129);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .top-bar-container {
    display: none;
  }

  .desktop-logo {
    padding: 30px;
  }

  .team-header {
    color: white;
  }

  .team-component {
    background-image: none;
  }

  .our-team-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 247, 216, 0.7);
    width: 100%;
    height: 20vh;
    background-image: url("./Images/team.jpg");
    background-position: top 860px center;
    background-size: cover;
    box-shadow: inset 0 0 0 100px rgba(5, 11, 17, 0.521);
    z-index: -1;
    margin-bottom: 20px;
    margin-top: -35px;
  }

  .team-header-desktop {
    font-size: 56px;
    color: white;
  }

  .flex-team-member-card {
    margin: 0;
    display: flex;
    height: 70vh;
    width: 100%;
  }

  .name-header1,
  .name-header2,
  .name-header3 {
    text-align: center;
    font-size: 48px;
    padding-right: 80px;
  }

  .paragraph-team1,
  .paragraph-team2,
  .paragraph-team3 {
    font-size: 30px;
  }

  .team-member-card1:hover .paragraph-team1-after {
    opacity: 1;
  }
  .team-member-card1:hover .paragraph-team1 {
    opacity: 0;
    display: none;
  }

  .team-member-card2:hover .paragraph-team2 {
    opacity: 0;
    display: none;
  }

  .team-member-card2:hover .paragraph-team2-after {
    opacity: 1;
  }

  .team-member-card3:hover .paragraph-team3 {
    opacity: 0;
    display: none;
  }

  .team-member-card3:hover .paragraph-team3-after {
    opacity: 1;
  }

  .paragraph-team1-after,
  .paragraph-team2-after,
  .paragraph-team3-after {
    color: white;
    opacity: 0;
    text-align: center;
    padding: 25px;
    align-items: center;
    font-size: 36px;
  }

  .budgetpad-landing {
    margin-bottom: 40px;
  }

  /* ------------------------------------
  *  --- ANNY DESKTOP  ----
  ------------------------------------ */
  .chart {
    max-width: 1124px;
    margin: 0 auto;
  }
  .spend-summary {
    padding: 1%;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 3%;
  }
  .spend-summary div {
    justify-content: center;
    max-width: 1124px;
    margin: 0 auto;
  }

  .all-transactions {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
  }
  .all-transactions section {
    width: 42%;
    background: #f3f3f3;
    padding: 2%;
    border-radius: 3px;
    box-shadow: 0 3px 5px #a8b8bc;
  }
  .transact-headline {
    max-width: 1224px;
  }
  .transact-card {
    font-size: 1.2em;
    justify-content: space-between;
    padding: 0 10%;
    margin: 0.5em;
    box-shadow: 0px 3px 5px #6884bb;
  }
}
